<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.dc.base.mapper.CategoryItemMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.dc.base.model.CategoryItem" >
        <id column="id" property="id"/>
        <result column="cg_code" property="cgCode" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="sort" property="sort" />
        <result column="attache" property="attache" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            cg_code,
            name,
            code,
            sort,
            attache,
        </trim>
    </sql>

    <!--新增字典数据-->
    <insert id="create" parameterType="com.lhiot.dc.base.model.CategoryItem" useGeneratedKeys="true" keyProperty="id">
        insert into category_item
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                id,
            </if>
            <if test="cgCode != null ">
                cg_code,
            </if>
            <if test="name != null ">
                name,
            </if>
            <if test="code != null ">
                code,
            </if>
            <if test="sort != null ">
                sort,
            </if>
            <if test="attache != null ">
                attache,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                #{id},
            </if>
            <if test="cgCode != null ">
                #{cgCode},
            </if>
            <if test="name != null ">
                #{name},
            </if>
            <if test="code != null ">
                #{code},
            </if>
            <if test="sort != null ">
                #{sort},
            </if>
            <if test="attache != null ">
                #{attache},
            </if>
        </trim>
    </insert>

    <!--根据id修改字典数据-->
    <update id="updateById" parameterType="com.lhiot.dc.base.model.CategoryItem">
        update category_item
        <set>
            <if test="cgCode != null ">
                cg_code = #{cgCode},
            </if>
            <if test="name != null ">
                name = #{name},
            </if>
            <if test="code != null ">
                code = #{code},
            </if>
            <if test="sort != null ">
                sort = #{sort},
            </if>
            <if test="attache != null ">
                attache = #{attache},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除字典数据-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from category_item where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--根据cateagoryIds删除字典数据-->
    <delete id="deleteByCateagoryIds" parameterType="java.util.List">
        delete from category_item where cg_code in
        (select code from category where id in
        <foreach collection="list" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        )
    </delete>



    <!-- 根据id查找字典数据 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from category_item where id = #{id}
	</select>

    <!-- 根据CgCode查找字典数据 -->
    <select id="selectByCgCode" resultMap="BaseResultMap"
            parameterType="String"> select <include refid="Base_Column_List" />
        from category_item where cg_code = #{0}
        order by sort asc
    </select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="cgCode != null ">
                and cg_code = #{cgCode}
            </if>
            <if test="name != null ">
                and name = #{name}
            </if>
            <if test="code != null ">
                and code = #{code}
            </if>
            <if test="sort != null ">
                and sort = #{sort}
            </if>
            <if test="attache != null ">
                and attache = #{attache}
            </if>
        </where>
    </sql>


    <!--查询字典数据列表-->
     <select id="pageCategoryItems" resultMap="BaseResultMap"
        parameterType="com.lhiot.dc.base.model.CategoryItem">
	        select <include refid="Base_Column_List" />
	        from category_item
	        <include refid="Base_Where_Condition" />
            order by sort asc
	        <include refid="common.pager" />
    </select>

    <!--查询字典数据总记录-->
    <select id="pageCategoryItemCounts" resultType="int"
        parameterType="com.lhiot.dc.base.model.CategoryItem">
            select count(1)
            from category_item
            <include refid="Base_Where_Condition" />
    </select>

    <select id="findByCode" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
          from category_item
        where code = #{code} and cg_code = #{cg_code}
    </select>

</mapper>