<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.dc.mapper.ProductShelfMapper">
    <select id="findById" parameterType="Long" resultType="com.lhiot.dc.domain.ProductShelfResult">
        SELECT a.id AS shelfId,a.name AS shelfName,a.specification_id AS specificationdI,a.specification_qty AS specificationQty,a.price,a.description
        ,a.shelf_status AS shelfStatus,a.image AS shelfImage,a.original_price AS originalPrice,b.barcode,b.packaging_unit AS packagingUnit,b.weight
        ,b.limit_inventory AS limitInventory,b.inventory_specification AS inventorySpecification,b.available_status,c.product_name AS productName
        ,b.product_id AS productId,a.product_image AS productImage,a.shelf_type AS shelfType
        FROM product_shelf a
        LEFT JOIN product_specification b ON a.specification_id = b.id
        LEFT JOIN product c ON b.product_id = c.id
        WHERE a.id = #{0}
    </select>

    <select id="findListByIds" parameterType="list" resultType="com.lhiot.dc.domain.ProductShelfResult">
        SELECT a.id AS shelfId,a.name AS shelfName,a.specification_id AS specificationdI,a.specification_qty AS specificationQty,a.price,a.description
        ,a.shelf_status AS shelfStatus,a.image AS shelfImage,a.original_price AS originalPrice,b.barcode,b.packaging_unit AS packagingUnit,b.weight
        ,b.limit_inventory AS limitInventory,b.inventory_specification AS inventorySpecification,b.available_status,c.product_name AS productName
        ,b.product_id AS productId,a.product_image AS productImage,a.shelf_type AS shelfType
        FROM product_shelf a
        LEFT JOIN product_specification b ON a.specification_id = b.id
        LEFT JOIN product c ON b.product_id = c.id
        WHERE a.id IN
        <foreach collection="list" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>
    
    <insert id="insert" parameterType="com.lhiot.dc.domain.ProductShelf">
        INSERT INTO product_shelf (id,`name`,specification_id,shelf_qty,price,description,shelf_status,application_type,sorting
        ,image,create_at,original_price,product_image,shelf_type)
        VALUE (#{id},#{name},#{specificationId},#{shelfQty},#{price},#{description},#{shelfStatus},#{applicationType},#{sorting}
        ,#{image},#{createAt},#{originalPrice},#{productImage},#{shelfType})
    </insert>

    <update id="update" parameterType="com.lhiot.dc.domain.ProductShelf">
        update product_shelf
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name}</if>
            <if test="specificationId != null and specificationId != ''">specification_id = #{specificationId}</if>
            <if test="shelfQty != null and shelfQty != ''">shelf_qty = #{shelfQty}</if>
            <if test="price != null and price != ''">price = #{price}</if>
            <if test="originalPrice != null and originalPrice != ''">original_price = #{originalPrice}</if>
            <if test="image != null and image != ''">image = #{image}</if>
            <if test="productImage != null and productImage != ''">product_image = #{productImage}</if>
            <if test="shelfStatus != null and shelfStatus != ''">shelf_status = #{shelfStatus}</if>
            <if test="shelfType != null and shelfType != ''">shelf_type = #{shelfType}</if>
            <if test="description != null and description != ''">description = #{description}</if>
            <if test="sorting != null and sorting != ''">sorting = #{sorting}</if>
            <if test="applicationType != null and applicationType != ''">application_type = #{applicationType}</if>
            <if test="createAt != null">create_at = #{createAt}</if>
        </trim>
        where id = #{id}
    </update>
</mapper>