<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.dc.mapper.ProductSpecificationMapper">

    <insert id="insert" parameterType="com.lhiot.dc.domain.ProductSpecification" useGeneratedKeys="true" keyColumn="id">
        insert into product_specification (product_id,barcode,packaging_unit,weight,limit_inventory,inventory_specification,available_status,create_at,specification_qty)
        value (#{productId},#{barcode},#{packagingUnit},#{weight},#{limitInventory},#{inventorySpecification},#{availableStatus},#{createAt},#{specificationQty})
    </insert>

    <select id="findById" parameterType="Long" resultType="com.lhiot.dc.domain.ProductResult">
        SELECT a.id AS specificationId,a.product_id AS productId,barcode,packaging_unit AS packagingUnit,weight,a.limit_inventory AS limitInventory
        ,a.inventory_specification AS inventorySpecification ,a.available_status AS availableStatus,b.product_code AS productCode
        ,b.product_name AS name,b.category_id AS categoryId,b.source_code AS sourceCode,b.status,b.description
        FROM product_specification a
        LEFT JOIN product b ON a.product_id = b.id
        WHERE a.id = #{0}
    </select>

    <select id="findByIds" parameterType="list" resultType="com.lhiot.dc.domain.ProductResult">
        SELECT a.id AS specificationId,a.product_id AS productId,barcode,packaging_unit AS packagingUnit,weight,a.limit_inventory AS limitInventory
        ,a.inventory_specification AS inventorySpecification ,a.available_status AS availableStatus,b.product_code AS productCode
        ,b.product_name AS name,b.category_id AS categoryId,b.source_code AS sourceCode,b.status,b.description
        FROM product_specification a
        LEFT JOIN product b ON a.product_id = b.id
        WHERE a.id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="countByProductId" parameterType="Long" resultType="int">
        SELECT COUNT(id) FROM product_specification WHERE product_id = #{0}
    </select>

    <select id="findProductIdList" parameterType="list" resultType="map">
        SELECT a.product_id,b.product_name AS name FROM product_specification a
        LEFT JOIN product b ON a.product_id = b.id
        WHERE
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="findBaseSpecificationByProductIds" parameterType="list" resultType="map">
        select product_id as productId,barcode as baseBarcode,packaging_unit as baseUnit from product_specification
        where inventory_specification = 'YES' and product_id in
        <foreach collection="list" item="item" separator="," close=")" open="(">
            #{item}
        </foreach>
    </select>

    <update id="updateSpecification" parameterType="com.lhiot.dc.domain.ProductSpecification">
        update product_specification
        <trim prefix="set" suffixOverrides=",">
            <if test="productId != null and productId != ''">product_id = #{productId},</if>
            <if test="barcode != null and barcode != ''">barcode = #{barcode},</if>
            <if test="packagingUnit != null and packagingUnit != ''">packaging_unit = #{packagingUnit},</if>
            <if test="weight != null and weight != ''">weight = #{weight},</if>
            <if test="specificationQty != null and specificationQty != ''">specification_qty = #{specificationQty},</if>
            <if test="limitInventory != null and limitInventory != ''">limit_inventory = #{limitInventory},</if>
            <if test="inventorySpecification != null">inventory_specification = #{inventorySpecification},</if>
            <if test="availableStatus != null">available_status = #{availableStatus},</if>
        </trim>
        where id = #{id}
    </update>
</mapper>