<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.dc.data.mapper.ProductSaleMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.dc.data.domain.ProductSale" >
        <id column="id" property="id"/>
        <result column="product_standard_id" property="productStandardId" />
        <result column="sale_count" property="saleCount" />
        <result column="apply_type" property="applyType" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            product_standard_id,
            sale_count,
            apply_type,
        </trim>
    </sql>

    <!--新增-->
    <insert id="create" parameterType="com.lhiot.dc.data.domain.ProductSale" useGeneratedKeys="true" keyProperty="id">
        insert into product_sale
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                id,
            </if>
            <if test="productStandardId != null ">
                product_standard_id,
            </if>
            <if test="saleCount != null ">
                sale_count,
            </if>
            <if test="applyType != null ">
                apply_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                #{id},
            </if>
            <if test="productStandardId != null ">
                #{productStandardId},
            </if>
            <if test="saleCount != null ">
                #{saleCount},
            </if>
            <if test="applyType != null ">
                #{applyType},
            </if>
        </trim>
    </insert>

    <!--根据id修改-->
    <update id="updateById" parameterType="com.lhiot.dc.data.domain.ProductSale">
        update product_sale
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="productStandardId != null ">
                product_standard_id = #{productStandardId},
            </if>
            <if test="saleCount != null ">
                sale_count = #{saleCount},
            </if>
            <if test="applyType != null ">
                apply_type = #{applyType},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from product_sale where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="integer"> select <include refid="Base_Column_List" />
		from product_sale where id = #{id}
	</select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="productStandardId != null ">
                and product_standard_id = #{productStandardId}
            </if>
            <if test="saleCount != null ">
                and sale_count = #{saleCount}
            </if>
            <if test="applyType != null ">
                and apply_type = #{applyType}
            </if>
        </where>
    </sql>


    <!--查询列表-->
     <select id="pageProductSales" resultMap="BaseResultMap"
        parameterType="com.lhiot.dc.data.domain.ProductSale">
	        select <include refid="Base_Column_List" />
	        from product_sale
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询总记录-->
    <select id="pageProductSaleCounts" resultType="long"
        parameterType="com.lhiot.dc.data.domain.ProductSale">
            select count(1)
            from product_sale
            <include refid="Base_Where_Condition" />
    </select>

    <!--查询商品规格总记录-->
    <select id="findSaleCountByProductId" resultType="long"
            parameterType="map">
        select sum(sale_count)
        from product_sale t1 where 1=1
        <if test="applyType != null ">
            and apply_type = #{applyType}
        </if>
        <if test="productStandardId != null ">
            and product_standard_id = #{productStandardId}
        </if>
    </select>

</mapper>