<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.dc.mapper.ArticleSectionMapper">
    <!-- 数据库字段对象关系映射 -->
    <resultMap id="baseResultMap" type="com.lhiot.dc.entity.ArticleSection">
        <id column="id" property="id"/>
        <result column="position_id" property="positionId"/>
        <result column="name_cn" property="nameCn"/>
        <result column="name_en" property="nameEn"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_at" property="createAt"/>
        <result column="sorting" property="sorting"/>
        <result column="application_type" property="applicationType"/>
    </resultMap>


    <!-- 数据库字段对象关系映射 -->
    <resultMap id="associationResultMap" type="com.lhiot.dc.entity.ArticleSection">
        <id column="id" property="id"/>
        <result column="position_id" property="positionId"/>
        <result column="name_cn" property="nameCn"/>
        <result column="name_en" property="nameEn"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_at" property="createAt"/>
        <result column="sorting" property="sorting"/>
        <result column="application_type" property="applicationType"/>
        <association property="uiPosition" javaType="com.lhiot.dc.entity.UiPosition">
            <id column="up_id" property="id"/>
            <result column="up_application_type" property="applicationType"/>
            <result column="up_position_type" property="positionType"/>
            <result column="up_code" property="code"/>
            <result column="up_description" property="description"/>
        </association>
    </resultMap>


    <!-- base查询字段  -->
    <sql id="baseColumns">
        <trim suffixOverrides=",">
            id,
            position_id,
            name_cn,
            name_en,
            parent_id,
            create_at,
            application_type,
            sorting,
        </trim>
    </sql>
    <sql id="columns">
        <trim suffixOverrides=",">
            a.id,
            a.position_id,
            a.name_cn,
            a.name_en,
            a.parent_id,
            a.create_at,
            a.application_type,
            a.sorting,

            up.id up_id,
            up.application_type up_application_type,
            up.position_type up_position_type,
            up.code up_code,
            up.description up_description,
        </trim>
    </sql>


    <!--新增文章版块-->
    <insert id="insert" parameterType="com.lhiot.dc.entity.ArticleSection" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        insert into article_section
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="positionId != null ">
                position_id,
            </if>
            <if test="nameCn != null ">
                name_cn,
            </if>
            <if test="nameEn != null ">
                name_en,
            </if>
            <if test="parentId != null ">
                parent_id,
            </if>
            <if test="sorting != null ">
                sorting,
            </if>
            <if test="createAt != null ">
                create_at,
            </if>
            <if test="applicationType != null ">
                application_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="positionId != null ">
                #{positionId},
            </if>
            <if test="nameCn != null ">
                #{nameCn},
            </if>
            <if test="nameEn != null ">
                #{nameEn},
            </if>
            <if test="parentId != null ">
                #{parentId},
            </if>
            <if test="sorting != null ">
                #{sorting},
            </if>
            <if test="createAt != null ">
                #{createAt},
            </if>
            <if test="applicationType != null ">
                #{applicationType},
            </if>
        </trim>
    </insert>


    <!--修改文章版块-->
    <update id="updateById" parameterType="com.lhiot.dc.entity.ArticleSection">
        update article_section
        <trim prefix="set" suffixOverrides=",">
            <if test="positionId != null">position_id = #{positionId},</if>
            <if test="nameCn != null and nameCn != ''">name_cn = #{nameCn},</if>
            <if test="nameEn != null and nameEn != ''">name_en = #{nameEn},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="sorting != null and sorting != ''">sorting = #{sorting},</if>
            <if test="applicationType != null">application_type = #{applicationType},</if>
        </trim>
        where id = #{id}
    </update>


    <!-- 根据id查找单个文章版块 -->
    <select id="findById" parameterType="Long" resultMap="associationResultMap">
        select
        <include refid="columns"/>
        from article_section a
        left join ui_position up on up.id = a.position_id
        where a.id = #{0}
    </select>


    <!-- 根据parentId和nameCn查找文章版块集合 -->
    <select id="findListByParentIdAndNameCn" resultMap="baseResultMap">
        select
        <include refid="baseColumns"/>
        from article_section
        where parent_id = #{parentId} and name_cn = #{nameCn}
    </select>


    <!-- 删除多个文章版块 -->
    <delete id="deleteByIds" parameterType="String">
        delete from article_section where id in
        <foreach item="item" index="index" collection="ids.split(',')" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- filter查询条件  -->
    <sql id="filter">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="positionId != null">and a.position_id = #{positionId}</if>
            <if test="parentId != null">and a.parent_id = #{parentId}</if>
            <if test="nameCn != null and nameCn != ''">and a.name_cn like concat('%',#{nameCn},'%')</if>
            <if test="nameEn != null and nameEn != ''">and a.name_en like concat('%',#{nameEn},'%')</if>
            <if test="applicationType != null">and a.application_type = #{applicationType}</if>
            <if test="beginCreateAt != null">and a.create_at <![CDATA[ >= ]]> #{beginCreateAt}</if>
            <if test="endCreateAt != null">and a.create_at <![CDATA[ <= ]]> #{endCreateAt}</if>
            <if test="articleId != null">and a.id in (select section_id from article_section_relation where article_id =
                #{articleId})
            </if>
        </trim>
    </sql>


    <!--查询文章版块集合-->
    <select id="findList" parameterType="com.lhiot.dc.model.ArticleSectionParam" resultMap="associationResultMap">
        select
        <include refid="columns"/>
        from article_section a
        left join ui_position up on up.id = a.position_id
        <include refid="filter"/>
        <if test="rows != null and rows > 0 ">
            order by a.sorting asc , a.id desc
            limit #{startRow} , #{rows}
        </if>
    </select>


    <!--查询文章版块集合总数-->
    <select id="findCount" parameterType="com.lhiot.dc.model.ArticleSectionParam" resultType="int">
        select count(1)
        from article_section a
        <include refid="filter"/>
    </select>


</mapper>