<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.dc.mapper.ArticleMapper">
    <!-- 数据库字段对象关系映射 -->
    <resultMap id="baseResultMap" type="com.lhiot.dc.entity.Article">
        <id column="id" property="id"/>
        <result column="author" property="author"/>
        <result column="editor" property="editor"/>
        <result column="create_at" property="createAt"/>
        <result column="article_type" property="articleType"/>
        <result column="status" property="articleStatus"/>
        <result column="content" property="content"/>
        <result column="title" property="title"/>
        <result column="content_image" property="contentImage"/>
        <result column="head_image" property="headImage"/>
        <result column="url" property="url"/>
        <result column="introduce" property="introduce"/>
        <result column="auditor" property="auditor"/>
        <result column="edit_at" property="editAt"/>
        <result column="publish_at" property="publishAt"/>
        <result column="keywords" property="keywords"/>
        <result column="read_amount" property="readAmount"/>
        <result column="job_title" property="jobTitle"/>
    </resultMap>


    <!-- base查询字段  -->
    <sql id="columns">
        <trim suffixOverrides=",">
            id,
            author,
            editor,
            create_at,
            article_type,
            status,
            content,
            title,
            content_image,
            head_image,
            url,
            introduce,
            auditor,
            edit_at,
            publish_at,
            keywords,
            read_amount,
            job_title,
        </trim>
    </sql>


    <!--新增文章-->
    <insert id="insert" parameterType="com.lhiot.dc.entity.Article" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="author != null ">
                author,
            </if>
            <if test="editor != null ">
                editor,
            </if>
            <if test="createAt != null ">
                create_at,
            </if>
            <if test="articleType != null ">
                article_type,
            </if>
            <if test="articleStatus != null ">
                status,
            </if>
            <if test="content != null ">
                content,
            </if>
            <if test="title != null ">
                title,
            </if>
            <if test="contentImage != null ">
                content_image,
            </if>
            <if test="headImage != null ">
                head_image,
            </if>
            <if test="url != null ">
                url,
            </if>
            <if test="introduce != null ">
                introduce,
            </if>
            <if test="auditor != null ">
                auditor,
            </if>
            <if test="editAt != null ">
                edit_at,
            </if>
            <if test="publishAt != null ">
                publish_at,
            </if>
            <if test="keywords != null ">
                keywords,
            </if>
            <if test="readAmount != null ">
                read_amount,
            </if>
            <if test="jobTitle != null ">
                job_title,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="author != null ">
                #{author},
            </if>
            <if test="editor != null ">
                #{editor},
            </if>
            <if test="createAt != null ">
                #{createAt},
            </if>
            <if test="articleType != null ">
                #{articleType},
            </if>
            <if test="articleStatus != null ">
                #{articleStatus},
            </if>
            <if test="content != null ">
                #{content},
            </if>
            <if test="title != null ">
                #{title},
            </if>
            <if test="contentImage != null ">
                #{contentImage},
            </if>
            <if test="headImage != null ">
                #{headImage},
            </if>
            <if test="url != null ">
                #{url},
            </if>
            <if test="introduce != null ">
                #{introduce},
            </if>
            <if test="auditor != null ">
                #{auditor},
            </if>
            <if test="editAt != null ">
                #{editAt},
            </if>
            <if test="publishAt != null ">
                #{publishAt},
            </if>
            <if test="keywords != null ">
                #{keywords},
            </if>
            <if test="readAmount != null ">
                #{readAmount},
            </if>
            <if test="jobTitle != null ">
                #{jobTitle},
            </if>
        </trim>
    </insert>


    <!--修改文章-->
    <update id="updateById" parameterType="com.lhiot.dc.entity.Article">
        update article
        <trim prefix="set" suffixOverrides=",">
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="editor != null and editor != ''">editor = #{editor},</if>
            <if test="articleType != null">article_type = #{articleType},</if>
            <if test="articleStatus != null">status = #{articleStatus},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="contentImage != null and contentImage != ''">content_image = #{contentImage},</if>
            <if test="headImage != null and headImage != ''">head_image = #{headImage},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="introduce != null and introduce != ''">introduce = #{introduce},</if>
            <if test="auditor != null and auditor != ''">auditor = #{auditor},</if>
            <if test="editAt != null">edit_at = #{editAt},</if>
            <if test="publishAt != null">publish_at = #{publishAt},</if>
            <if test="keywords != null and keywords != ''">keywords = #{keywords},</if>
            <if test="jobTitle != null and jobTitle != ''">job_title = #{jobTitle},</if>
        </trim>
        where id = #{id}
    </update>


    <!--修改新增阅读量-->
    <update id="addReadAmountById">
        update article
        set read_amount = read_amount + #{addAmount}
        where id = #{id}
    </update>


    <!-- 根据id查找单个文章 -->
    <select id="findById" parameterType="Long" resultMap="baseResultMap">
        select
        <include refid="columns"/>
        from article
        where id = #{0}
    </select>


    <!-- 删除多个文章 -->
    <delete id="deleteByIds" parameterType="String">
        delete from article where id in
        <foreach item="item" index="index" collection="ids.split(',')" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- filter查询条件  -->
    <sql id="filter">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="author != null and author != ''">and author = #{author}</if>
            <if test="editor != null and editor != ''">and editor = #{editor}</if>
            <if test="articleType != null">and article_type = #{articleType}</if>
            <if test="articleStatus != null">and status = #{articleStatus}</if>
            <if test="title != null and title != ''">and title like concat('%',#{title},'%')</if>
            <if test="keywords != null and keywords != ''">and keywords like concat('%',#{keywords},'%')</if>
            <if test="beginCreateAt != null">and create_at <![CDATA[ >= ]]> #{beginCreateAt}</if>
            <if test="endCreateAt != null">and create_at <![CDATA[ <= ]]> #{endCreateAt}</if>
            <if test="beginPublishAt != null">and publish_at <![CDATA[ >= ]]> #{beginPublishAt}</if>
            <if test="endPublishAt != null">and publish_at <![CDATA[ <= ]]> #{endPublishAt}</if>
            <if test="sectionId != null">and id in (select asr.article_id from article_section_relation asr where
                asr.section_id = #{sectionId})
            </if>
        </trim>
    </sql>


    <!--查询文章集合-->
    <select id="findList" parameterType="com.lhiot.dc.model.ArticleParam" resultMap="baseResultMap">
        select
        <include refid="columns"/>
        from article
        <include refid="filter"/>
        <if test="rows != null and rows > 0 ">
            order by id desc
            limit #{startRow} , #{rows}
        </if>
    </select>


    <!--查询文章集合总数-->
    <select id="findCount" parameterType="com.lhiot.dc.model.ArticleParam" resultType="int">
        select count(1)
        from article
        <include refid="filter"/>
    </select>


</mapper>