<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.dc.mapper.PaymentConfigMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="baseResultMap"
               type="com.lhiot.dc.entity.PaymentConfig">
        <id column="id" property="id"/>
        <result column="config_name" property="configName"/>
        <result column="app_id" property="appId"/>
        <result column="app_secret_key" property="appSecretKey"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="merchant_secret_key" property="merchantSecretKey"/>
        <result column="third_party_key" property="thirdPartyKey"/>
        <result column="payed_notify_url" property="payedNotifyUrl"/>
        <result column="refund_notify_url" property="refundNotifyUrl"/>
        <result column="platform" property="platform"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- base查询字段  -->
    <sql id="columns">
        <trim suffixOverrides=",">
            id,
            config_name,
            app_id,
            app_secret_key,
            merchant_id,
            merchant_secret_key,
            third_party_key,
            payed_notify_url,
            refund_notify_url,
            platform,
            remark,
        </trim>
    </sql>

    <!--新增支付签名信息-->
    <insert id="create" parameterType="com.lhiot.dc.entity.PaymentConfig" useGeneratedKeys="true" keyProperty="id">
        insert into payment_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configName != null ">
                config_name,
            </if>
            <if test="appId != null ">
                app_id,
            </if>
            <if test="appSecretKey != null ">
                app_secret_key,
            </if>
            <if test="merchantId != null ">
                merchant_id,
            </if>
            <if test="merchantSecretKey != null ">
                merchant_secret_key,
            </if>
            <if test="thirdPartyKey != null ">
                third_party_key,
            </if>
            <if test="payedNotifyUrl != null ">
                payed_notify_url,
            </if>
            <if test="refundNotifyUrl != null ">
                refund_notify_url,
            </if>
            <if test="platform != null ">
                platform,
            </if>
            <if test="remark != null ">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="configName != null ">
                #{configName},
            </if>
            <if test="appId != null ">
                #{appId},
            </if>
            <if test="appSecretKey != null ">
                #{appSecretKey},
            </if>
            <if test="merchantId != null ">
                #{merchantId},
            </if>
            <if test="merchantSecretKey != null ">
                #{merchantSecretKey},
            </if>
            <if test="thirdPartyKey != null ">
                #{thirdPartyKey},
            </if>
            <if test="payedNotifyUrl != null ">
                #{payedNotifyUrl},
            </if>
            <if test="refundNotifyUrl != null ">
                #{refundNotifyUrl},
            </if>
            <if test="platform != null ">
                #{platform},
            </if>
            <if test="remark != null ">
                #{remark},
            </if>
        </trim>
    </insert>

    <!--根据id修改支付签名信息-->
    <update id="update" parameterType="com.lhiot.dc.entity.PaymentConfig">
        update payment_config
        <set>
            <if test="configName != null ">
                config_name = #{configName},
            </if>
            <if test="appId != null ">
                app_id = #{appId},
            </if>
            <if test="appSecretKey != null ">
                app_secret_key = #{appSecretKey},
            </if>
            <if test="merchantId != null ">
                merchant_id = #{merchantId},
            </if>
            <if test="merchantSecretKey != null ">
                merchant_secret_key = #{merchantSecretKey},
            </if>
            <if test="thirdPartyKey != null ">
                third_party_key = #{thirdPartyKey},
            </if>
            <if test="payedNotifyUrl != null ">
                payed_notify_url = #{payedNotifyUrl},
            </if>
            <if test="refundNotifyUrl != null ">
                refund_notify_url = #{refundNotifyUrl},
            </if>
            <if test="platform != null ">
                platform = #{platform},
            </if>
            <if test="remark != null ">
                remark = #{remark},
            </if>
        </set>
        where id=#{id}
    </update>

    <!-- 根据id查找支付签名信息 -->
    <select id="selectById" resultMap="baseResultMap" parameterType="long">
        select
        <include refid="columns"/>
        from payment_config where id = #{id}
    </select>

    <select id="selectByName" resultMap="baseResultMap" parameterType="String">
        select
        <include refid="columns"/>
        from payment_config where config_name = #{configName}
    </select>


    <select id="selectAll" resultMap="baseResultMap">
        select
        <include refid="columns"/>
        from payment_config
    </select>
</mapper>