<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.dc.mapper.ProductSectionMapper">
    <!-- 数据库字段对象关系映射 -->
    <resultMap id="baseResultMap" type="com.lhiot.dc.entity.ProductSection">
        <id column="id" property="id"/>
        <result column="position_id" property="positionId"/>
        <result column="section_name" property="sectionName"/>
        <result column="section_img" property="sectionImg"/>
        <result column="sorting" property="sorting"/>
        <result column="create_at" property="createAt"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>


    <!-- 数据库字段对象关系映射 -->
    <resultMap id="associationResultMap" type="com.lhiot.dc.entity.ProductSection">
        <id column="id" property="id"/>
        <result column="position_id" property="positionId"/>
        <result column="section_name" property="sectionName"/>
        <result column="section_img" property="sectionImg"/>
        <result column="sorting" property="sorting"/>
        <result column="create_at" property="createAt"/>
        <result column="parent_id" property="parentId"/>
        <collection property="productShelfList" ofType="com.lhiot.dc.entity.ProductShelf"
                    column="{sectionId=id,includeShelvesQty=includeShelvesQty}"
                    select="com.lhiot.dc.mapper.ProductShelfMapper.findListBySectionId">
            <id column="ps_id" property="id"/>
            <result column="ps_name" property="name"/>
            <result column="specification_id" property="specificationId"/>
            <result column="shelf_qty" property="shelfQty"/>
            <result column="price" property="price"/>
            <result column="description" property="description"/>
            <result column="shelf_status" property="shelfStatus"/>
            <result column="application_type" property="applicationType"/>
            <result column="ps_sorting" property="sorting"/>
            <result column="image" property="image"/>
            <result column="ps_create_at" property="createAt"/>
            <result column="original_price" property="originalPrice"/>
            <result column="product_image" property="productImage"/>
            <result column="shelf_type" property="shelfType"/>
        </collection>
    </resultMap>


    <!-- 数据库字段对象关系映射 -->
    <resultMap id="includeProductResultMap" type="com.lhiot.dc.entity.ProductSection">
        <id column="id" property="id"/>
        <result column="position_id" property="positionId"/>
        <result column="section_name" property="sectionName"/>
        <result column="section_img" property="sectionImg"/>
        <result column="sorting" property="sorting"/>
        <result column="create_at" property="createAt"/>
        <result column="parent_id" property="parentId"/>
        <collection property="productShelfList" ofType="com.lhiot.dc.entity.ProductShelf"
                    column="{sectionId=id,includeShelvesQty=includeShelvesQty}"
                    select="com.lhiot.dc.mapper.ProductShelfMapper.findListIncludeProductBySectionId">
            <id column="ps_id" property="id"/>
            <result column="ps_name" property="name"/>
            <result column="specification_id" property="specificationId"/>
            <result column="shelf_qty" property="shelfQty"/>
            <result column="price" property="price"/>
            <result column="description" property="description"/>
            <result column="shelf_status" property="shelfStatus"/>
            <result column="application_type" property="applicationType"/>
            <result column="ps_sorting" property="sorting"/>
            <result column="image" property="image"/>
            <result column="ps_create_at" property="createAt"/>
            <result column="original_price" property="originalPrice"/>
            <result column="product_image" property="productImage"/>
            <result column="shelf_type" property="shelfType"/>
        </collection>
    </resultMap>




    <!-- base查询字段  -->
    <sql id="columns">
        <trim suffixOverrides=",">
            p.id,
            p.position_id,
            p.section_name,
            p.section_img,
            p.sorting,
            p.create_at,
            p.parent_id,
        </trim>
    </sql>


    <!--新增商品版块-->
    <insert id="insert" parameterType="com.lhiot.dc.entity.ProductSection" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        insert into product_section
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="positionId != null ">
                position_id,
            </if>
            <if test="sectionName != null ">
                section_name,
            </if>
            <if test="sectionImg != null ">
                section_img,
            </if>
            <if test="sorting != null ">
                sorting,
            </if>
            <if test="createAt != null ">
                create_at,
            </if>
            <if test="parentId != null ">
                parent_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="positionId != null ">
                #{positionId},
            </if>
            <if test="sectionName != null ">
                #{sectionName},
            </if>
            <if test="sectionImg != null ">
                #{sectionImg},
            </if>
            <if test="sorting != null ">
                #{sorting},
            </if>
            <if test="createAt != null ">
                #{createAt},
            </if>
            <if test="parentId != null ">
                #{parentId},
            </if>
        </trim>
    </insert>


    <!--修改商品版块-->
    <update id="updateById" parameterType="com.lhiot.dc.entity.ProductSection">
        update product_section
        <trim prefix="set" suffixOverrides=",">
            <if test="positionId != null">position_id = #{positionId},</if>
            <if test="sectionName != null and sectionName != ''">section_name = #{sectionName},</if>
            <if test="sectionImg != null and sectionImg != ''">section_img = #{sectionImg},</if>
            <if test="sorting != null">sorting = #{sorting},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
        </trim>
        where id = #{id}
    </update>


    <!-- 根据id查找单个商品版块 -->
    <select id="findById" parameterType="Long" resultMap="baseResultMap">
        select
        <include refid="columns"/>
        from product_section p
        where p.id = #{0}
    </select>

    <!-- 根据id查找单个商品版块 包含商品上架信息 -->
    <select id="findByIdIncludeShelves" resultMap="associationResultMap">
        select
        <include refid="columns"/>
        ,#{includeShelvesQty} includeShelvesQty
        from product_section p
        where p.id = #{id}
    </select>


    <!-- 根据id查找单个商品版块 包含商品上架信息和商品信息   -->
    <select id="findByIdIncludeShelvesIncludeProduct" resultMap="includeProductResultMap">
        select
        <include refid="columns"/>
        ,#{includeShelvesQty} includeShelvesQty
        from product_section p
        where p.id = #{id}
    </select>


    <!-- 根据parentId和sectionName查找商品版块集合 -->
    <select id="findListByParentIdAndSectionName" resultMap="baseResultMap">
        select
        <include refid="columns"/>
        from product_section p
        where p.parent_id = #{parentId} and p.section_name = #{sectionName}
    </select>


    <!-- 删除多个商品版块 -->
    <delete id="deleteByIds" parameterType="String">
        delete from product_section where id in
        <foreach item="item" index="index" collection="ids.split(',')" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- filter查询条件  -->
    <sql id="filter">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="positionId != null">and position_id = #{positionId}</if>
            <if test="parentId != null">and parent_id = #{parentId}</if>
            <if test="sectionName != null and sectionName != ''">and section_name like concat('%',#{sectionName},'%')
            </if>
            <if test="beginCreateAt != null">and create_at <![CDATA[ >= ]]> #{beginCreateAt}</if>
            <if test="endCreateAt != null">and create_at <![CDATA[ <= ]]> #{endCreateAt}</if>
            <if test="shelfId != null">and id in (select section_id from product_section_relation where shelf_id = #{shelfId} ) </if>
        </trim>
    </sql>


    <!--查询商品版块集合-->
    <select id="findList" parameterType="com.lhiot.dc.model.ProductSectionParam" resultMap="baseResultMap">
        select
        <include refid="columns"/>
        from product_section p
        <include refid="filter"/>
        <if test="rows != null and rows > 0 ">
            order by sorting asc , id desc
            limit #{startRow} , #{rows}
        </if>
    </select>


    <!--查询商品版块集合 包含商品上架信息-->
    <select id="findListIncludeShelves" parameterType="com.lhiot.dc.model.ProductSectionParam"
            resultMap="associationResultMap">
        select
        <include refid="columns"/>
        ,#{includeShelvesQty} includeShelvesQty
        from product_section p
        <include refid="filter"/>
        <if test="rows != null and rows > 0 ">
            order by sorting asc , id desc
            limit #{startRow} , #{rows}
        </if>
    </select>

    <!--查询商品版块集合 包含商品上架信息-->
    <select id="findListIncludeShelvesIncludeProduct" parameterType="com.lhiot.dc.model.ProductSectionParam"
            resultMap="includeProductResultMap">
        select
        <include refid="columns"/>
        ,#{includeShelvesQty} includeShelvesQty
        from product_section p
        <include refid="filter"/>
        <if test="rows != null and rows > 0 ">
            order by sorting asc , id desc
            limit #{startRow} , #{rows}
        </if>
    </select>


    <!--查询商品版块集合总数-->
    <select id="findCount" parameterType="com.lhiot.dc.model.ProductSectionParam" resultType="int">
        select count(1)
        from product_section
        <include refid="filter"/>
    </select>


</mapper>