<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.dc.mapper.StoreMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="baseResultMap" type="com.lhiot.dc.entity.Store">
        <result column="id" property="id"/>
        <result column="store_code" property="code"/>
        <result column="store_name" property="name"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="image" property="image"/>
        <result column="area" property="area"/>
        <result column="status" property="status"/>
        <result column="flag_ship" property="flagShip"/>
        <result column="store_type" property="storeType"/>
        <result column="video_url" property="videoUrl"/>
        <result column="begin_at" property="beginAt"/>
        <result column="end_at" property="endAt"/>
        <result column="tape_url" property="tapeUrl"/>
        <result column="application_type" property="applicationType"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
    </resultMap>

    <!-- base查询字段  -->
    <sql id="columns">
        <trim suffixOverrides=",">
            id,
            store_code,
            store_name,
            address,
            phone,
            image,
            area,
            status,
            flag_ship,
            store_type,
            video_url,
            begin_at,
            end_at,
            tape_url,
            application_type,
            latitude,
            longitude,
        </trim>
    </sql>

    <!--新增门店-->
    <insert id="insert" parameterType="com.lhiot.dc.entity.Store" useGeneratedKeys="true" keyProperty="id">
        insert into store (store_code,store_name,address,phone,image,area,status,flag_ship,store_type,video_url,
        begin_at,end_at,tape_url,application_type,latitude,longitude)
        value (#{code},#{name},#{address}, #{phone},#{image},#{area},#{status},#{flagShip},#{storeType},#{videoUrl}
                ,#{beginAt},#{endAt},#{tapeUrl},#{applicationType},#{latitude},#{longitude})
    </insert>

    <!--根据id修改门店-->
    <update id="update" parameterType="com.lhiot.dc.entity.Store">
        update store
        <set>
            <if test="code != null ">
                store_code = #{code},
            </if>
            <if test="name != null ">
                store_name = #{name},
            </if>
            <if test="address != null ">
                address = #{address},
            </if>
            <if test="phone != null ">
                phone = #{phone},
            </if>
            <if test="image != null ">
                image = #{image},
            </if>
            <if test="area != null ">
                area = #{area},
            </if>
            <if test="status != null ">
                status = #{status},
            </if>
            <if test="flagShip != null ">
                flag_ship = #{flagShip},
            </if>
            <if test="storeType != null ">
                store_type = #{storeType},
            </if>
            <if test="videoUrl != null ">
                video_url = #{videoUrl},
            </if>
            <if test="beginAt != null ">
                begin_at = #{beginAt},
            </if>
            <if test="endAt != null ">
                end_at = #{endAt},
            </if>
            <if test="tapeUrl != null ">
                tape_url = #{tapeUrl},
            </if>
            <if test="latitude != null">
                latitude = #{latitude},
            </if>
            <if test="longitude != null">
                longitude = #{longitude},
            </if>
            <if test="applicationType != null">
                application_type = #{applicationType},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除门店-->
    <delete id="deleteById" parameterType="long">
    delete from store where id =#{0}
    </delete>


    <!-- 根据id查找门店 -->
    <select id="selectById" resultMap="baseResultMap" parameterType="long">
        select
        <include refid="columns"/>
        from store
        where id = #{id}
    </select>

    <!-- 根据门店编码查询门店 -->
    <select id="selectByCode" parameterType="String" resultMap="baseResultMap">
        select
        <include refid="columns"/>
        from store
        where store_code = #{0}
    </select>

    <!--门店模糊查询-->
    <select id="selectList" parameterType="com.lhiot.dc.model.StoreSearchParam" resultMap="baseResultMap">
        select
        <include refid="columns"/>
        from store
        <trim prefix="where" suffixOverrides="and">
            <if test="name != null and name != ''">store_name like concat('%',#{name},'%') and</if>
            <if test="code != null and code !=''">store_code like concat('%',#{code},'%') and</if>
            <if test="storeIds != null and storeIds != ''">
                id in
                <foreach item="item" index="index" collection="storeIds.split(',')" open="(" separator="," close=")">
                    #{item}
                </foreach>
                and
            </if>
            <if test="storeType != null ">store_type = #{storeType} and</if>
            <if test="area != null ">area = #{area} and</if>
        </trim>
    </select>

</mapper>